{%block navbar%}
<nav style="margin-bottom:20px;"class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#">Página de Inicio</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Quiénes somos</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Tablas maestras
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/index/ambito">Ambitos</a>
            <a class="dropdown-item" href="/index/sector">Sector</a>
            <a class="dropdown-item" href="/index/nag">Nivel Área geográfica</a>
            <a class="dropdown-item" href="/index/tipo_objetivo">Tipo Objetivo</a>
        </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Compromiso con la ONU</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                El resto de tablas
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/index/area_geografica">Áreas Geográficas</a>
                <a class="dropdown-item" href="/index/empresa">Empresa</a>
                <a class="dropdown-item" href="/index/modelo">Modelo</a>
                <a class="dropdown-item" href="/index/benchmarking">Benchmarking</a>
                <a class="dropdown-item" href="/index/puntoscap">PuntosCapitulo</a>
                <a class="dropdown-item" href="/index/objetivo">Objetivo</a>
            </div>
        </li>
    </ul>
</nav> 
{%endblock%}