<html>
    <head>
        <title>
            objetivo {{obj.str_ob_nombre}}/{{obj.id_ob}}
        </title>
    </head>
    <body>
        <h2>ID: {{obj.id_ob}}</h2>
        <h2>Nombre:</h2>
        <p>{{obj.str_ob_nombre}}</p>
        <br>
        <h2>Codificacion:</h2>
        <p>{{obj.str_ob_codificacion}}</p>
        <br>
        <h2>Descripción:</h2>
        {% if obj.str_ob_descripcion %}
            <p>{{obj.str_ob_descripcion}}</p>
        {% else %}
            <p>No se ha encontrado descripción del objmarking</p>
        {% endif %}
        <h2>any:</h2>
        <p>{{obj.str_ob_any}}</p>
        <br>
        <h2>Tipo Objetivo:</h2>
        <p>{{obj.id_ob_to.str_to_nombre}}</p>
        <h2>Capitulo:</h2>
        <p>{{obj.id_ob_pc.str_pc_nombre}}</p>
        <a href="/edit/objetivo/{{obj.id_ob}}">Editar</a>
        <a href="/delete/objetivo/{{obj.id_ob}}">Borrar</a>
        <a href="/index/objetivo">Volver atrás</a>
    </body>
</html>