<html>
    <head>
        <title>
            ObjetivoRelacionado {{or1.str_or_nombre}}/{{or1.id_or}}
        </title>
    </head>
    <body>
        <h2>ID: {{or1.id_or}}</h2>
        <h2>Nombre:</h2>
        <p>{{or1.str_or_nombre}}</p>
        <h2>Objetivo:</h2>
        <p>{{or1.id_or_ob.str_ob_nombre}}</p>
        <br>
        <p>{{or1.id_or_ob_asociado.str_ob_nombre}}</p>
        <br>
        <a href="/edit/objrel/{{or1.id_or}}">Editar</a>
        <a href="/delete/objrel/{{or1.id_or}}">Borrar</a>
        <a href="/index/objrel">Volver atrás</a>
    </body>
</html>