{% extends '../base.html' %}
    {% block head%}
        <title>Indice de Nivel Área Geográfica</title>
    {% endblock %}
        {%block thead%}
            <th> ID: </th>
            <th> Nombre:</th>
            <th> Editar:</th>
            <th> Ver:</th>
            <th> Eliminar:</th>
        {% endblock %}
        {% block tbody %}
            {% if tipo_intervinientes %}
                {% for tipo_interviniente in tipo_intervinientes %}
                    <tr>
                        <td>{{tipo_interviniente.id_Tipo_Interviniente}}</td>
                        <td>{{tipo_interviniente.Str_Nombre}}</td>
                        <td><a class="btn btn-xs fas fa-eye" href="/show/tipo_interviniente/{{tipo_interviniente.id_Nivel_Area}}"></a></td>
                        <td><a class="btn btn-primary btn-xs fas fa-pen" href="/edit/tipo_interviniente/{{tipo_interviniente.id_Nivel_Area}}"></a></td>
                        <td><a class="btn btn-danger btn-xs  fas fa-trash-alt  fas fa-trash-alt" href="/delete/tipo_interviniente/{{tipo_interviniente.id_Nivel_Area}}"></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <h2>No se han encontrado ningún NAG creado</h2>
            {% endif %}
        {% endblock %}
        <a href="/">Volver atrás</a>
